@import "../css/pallete.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--surface-color) ;
    background: linear-gradient(to right,var(--secondary-color),var(--surface-color));

    overflow: hidden;

    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    position: relative;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    */
    
}
.container{
    margin: auto;
}

.chat-messages{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50vh;

}
.message {
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
  }
  
.message-user1 {
    background-color:var(--primary-color)
}

.message-user2 {
    background-color:var(--secondary-color)
    text-align: right;
}
.chat-input{
    margin-top: 10px;
    text-align: right;
}
.chat-input input{
    background-color:var(--surface-color);
}
.chat-input button{
    margin-top: 10px;
    border-color: var(--inverseprimary-color);
    color: var(--text);
    background-color:var(--inverseprimary-color);
}
.chat-input button:hover{
    color: var(--text);
    background-color:var(--primary-color);
    border-color: var(--primary-color);
}