*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "../css/pallete.css";

body{
    background-color: var(--surface-color) ;
    background: linear-gradient(to right,var(--secondary-color),var(--surface-color));
    
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    */
    
}
.post-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}
.post-container{
    background-color: var(--tertiary-color);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 80%;
    max-width: 100%;
    min-height: 100%;
    margin: 10px;
    padding: 30px;
}
.post-user-name h2{
    font-family: "Playwrite VN", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: var(--inverseprimary-color);
}
.post-info h3{
    font-family: "Work Sans", system-ui;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 10px;
    color: var(--secondary-color);
    padding-left: 13px;
}
.post-contain h4{
    font-family: "Work Sans", system-ui;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    color: var(--primary-color);
    padding-left: 13px;
}
.post-contain p{
    font-family: "Work Sans", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    padding-left: 13px;
    padding-bottom: 20px;
    color: var(--inverseprimary-color);
}
.post-like-cmt{
    width: fit-content;
    height: 100%;
    padding-left: 13px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--inverseprimary-color);
}
.post-like .far.fa-heart{
    color:var(--inverseprimary-color) ;
}
.post-like:hover .far.fa-heart::before{
    content: "\f004";
    color:var(--inverseprimary-color);
    font-weight: 900;
}

.post-cmt .far.fa-comment{
    color:var(--primary-color);
}
.post-cmt:hover .far.fa-comment::before{
    content: "\f075";
    color:var(--primary-color);
    font-weight: 900;
}

/*------------------------------------------------------------------------------*/
/*TWEET SHOW WRAPPER*/
.all-tweet{
	border-bottom: 1px solid var(--surface-color);
/*    border-bottom: none;*/
	padding: 5px 10px;
	width: 100%;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}



.t-show-wrap{
    background-color: var(--tertiary-color);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 80%;
    max-width: 100%;
    min-height: 100%;
    margin: 10px;
    padding: 30px;
}
.t-show-wrap img{
	max-height: 60%;
	max-width: 60%;
	border-radius: 12px;
}
.t-show-inner{
	padding: 10px;
}
.t-show-head{
	width:100%;
}
.t-show-img{
	width:20%;
	float: left;
	overflow: hidden;
	margin-right: 4px;
}
.t-show-img img{
	width: 55px;
	height: 55px;
	border: 1px solid var(--primary-color);
	border-radius: 50%;
}
.t-s-head-content{
	width:95%;
}
.t-h-c-name a{
	font-size: 16px;
	color: var(--text);
	font-weight: bold;
	text-decoration: none;
    margin: 0px 0px;
}
.t-h-c-name a:hover{
	text-decoration:underline;
    color: var(--inverseprimary-color);
}
.t-h-c-name span{
	font-weight: normal;
	color: var(--primary-color);
}
.t-h-c-dis{
	margin-left: 65px;
	color: var(--text);
    text-align: start;
	font-size: 17px;
    padding: 5px;
    width: 90%;
/*    background: red;*/
}
.t-h-c-dis a{
	color:var(--primary-color);
	text-decoration:none;
	cursor:pointer;
	font-weight: bold;
 }
.t-h-c-dis a:hover{
	text-decoration: underline;
    color:var(--primary-color);
}
.t-show-body{
	max-height: 550px;
	overflow: hidden;
}
.t-s-b-inner-in{
 	padding: 10px 0px;
 	overflow: hidden;
    margin-left: 62px;
}
.t-s-b-inner{
	width: 100%;
	overflow: hidden;
	float: right;
}
.t-show-banner-inner{
	width: 88%;
	font-size: 13px;
	color: #b1b5b7;
	padding: 5px 0px;
}
.t-show-banner-inner i{
	color: #fcfcfc;
	background: #17dd6d;
	padding: 2px;
	border-radius: 3px;
	margin-right: 5px;
}

.t-show-footer{
	width: 100%;
	float: left;
	overflow: hidden;
    display: flex;
    justify-content: center;
    margin-left: 65px;
/*    align-items: center;*/
/*    background: red;*/
}

.t-s-f-right{
	width:90%;
	float: right;
	margin: 10px 0px;
/*    background: red;*/
}
.t-s-f-right ul li{
	float: left;
	margin-right: 20%;
}
.t-s-f-right ul li button .fa{
	text-decoration:none;
	color: #c8cbce;
	font-size: 17px;
	cursor: pointer;
}
.t-s-f-right ul li a{
	text-decoration:none;
	color: #999;
}
.t-s-f-right ul li button{
	background: none;
	border: none;
	cursor: pointer;
}
.t-s-f-right ul li button span{
	font-size: 12px;
	padding: 0px;
	position: relative;
	left: 6px;
	top: -1px;
	color: #9C9A9A;
	font-weight: bold;
}

 

.t-s-f-right ul li button.unlike-btn,.t-s-f-right ul li button.unlike-btn i,.t-s-f-right ul li button.unlike-btn span, .tweet-show-popup-footer-menu ul li button.unlike-btn{
	color: rgb(224, 36, 94);
}
.t-s-f-right ul li button.retweet > .fa-share , .t-s-f-right ul li button.retweeted> .fa-retweet, .tweet-show-popup-footer-menu ul li button.retweeted, .img-popup-tweet-menu-inner > ul > li > button.retweeted{
	color:skyblue;
}
.t-s-f-right ul li a:hover> .fa-heart-o{
	color:red;
}

.t-s-f-right ul li button:hover> .fa-heart-o{
	color:red;
}
.t-s-f-right ul li button:hover> .fa-retweet{
	color:skyblue;
}
.t-s-f-right ul li button:hover> .fa-share{
	color:#9dc5a2;
}
.retweet-t-s-b-inner{
	width: 95%;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
}

.retweet-t-s-b-inner-left{
	width:30%;
	float: left;
}
.retweet-t-s-b-inner-left img{
	width: 125px;
	height: 125px;
	border-radius: 0px !important;
}
.retweet-t-s-b-inner-right{
	width: 70%;
	float: right;
}

.retweet-t-s-b-inner-right-text{
	font-size: 15px;
}

.retweet-t-s-b-inner-right-text a{
	text-decoration: none;
	font-weight: bold;
	color:#7fc400;
	padding: 0px 3px;
	cursor:pointer;
}

.retweet-t-s-b-inner-right-text a:hover{
	text-decoration: underline;
}
/*POP UP*/
.wrap{
	width:100%;
	height:100%;
	display: block;
	position: fixed;
	bottom:0;
	right:0;
	z-index:10001;
	background: rgba(0, 0, 0, 0.76);
}

.popup-tweet-wrap input[type="checkbox"]{
	display:none;
}
.popup-tweet-wrap input[type="checkbox"]:checked ~ .wrap{
	display: block;
	background: rgba(0, 0, 0, 0.76);
}


.popwrap-inner{
	margin: 0px auto;
	width: 50%;
	height: auto;
	position: fixed;
	bottom: 38%;
	right: 25%;
	background: white;
	border-radius: 10px;
	border: 1px solid #e7e7e7;
}

/*****************************************************************/

.tweet-show-popup-wrap{
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tweet-show-popup-wrap input[type="checkbox"]{
	display: none;
}
.tweet-show-popup-wrap input[type="checkbox"]:checked ~ .wrap4{
	display: block;
}
.tweet-show-popup-wrap input[type="checkbox"]:checked body{
	overflow: hidden;
}
.wrap4{
	background-color: rgba(0, 0, 0, 0.34);
	position: fixed;
	width: 100%;
	height: 100%;
	top:0px;
	left:0px;
	z-index: 10000;
	overflow-y: scroll;
	display: flex;
    justify-content: center;
    align-items: center;
}
.tweet-show-popup-box-cut{
	color: #fff;
	position: absolute;
	left: 77%;
	top: 8%;
	font-size: 23px;
}

.tweet-show-popup-box{
	width: 540px;
	height: auto;
	background-color: #fff;
	border-radius: 20px;
	border: 1px solid var(--twitter-background);
	margin-top: 20px;
	margin-bottom: 20px;
}

.tweet-show-popup-inner{
	width: 90%;
	margin: 30px auto;
}

.tweet-show-popup-head{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}	

.tweet-show-popup-head-left{
	float: left;
}
.tweet-show-popup-img{
	width: 60px;
	height: 60px;
	float: left;
}
.tweet-show-popup-img img{
	width: 50px;
	height: 50px;
	border-radius: 6px;
}
.tweet-show-popup-name{
	float: left;
	margin-top: 5px;
}
.t-s-p-n{}
.t-s-p-n a{
	text-decoration: none;
	color: #333;
	font-weight: bold;
	font-size: 17px;
}

.t-s-p-n-b a{
	text-decoration: none;
	color: #7e7e7e;
	font-size: 15px;
}
.t-s-p-n a:hover{
	text-decoration: underline;
}
.t-s-p-n-b a:hover{
	text-decoration: underline;
}
.tweet-show-popup-head-right{
	float: right;
}

.tweet-show-popup-head-right button{

}

.tweet-show-popup-tweet-wrap{

}

.tweet-show-popup-tweet{
	font-size: 20px;
	color:#333;
}
.tweet-show-popup-tweet a{
	text-decoration: none;
	color: var(--twitter-color);
    font-size: 20px;
}
.tweet-show-popup-tweet-ifram{
/*    display: flex;*/
}

.tweet-show-popup-tweet-ifram img{
	width: 100%;
    height: 80%;
	border-radius: 15px;
    margin: auto;
}
.tweet-show-popup-footer-wrap{

}

.tweet-show-popup-retweet-like{
	border-bottom: 1px solid #e7e7e7;
	border-top: 1px solid #e7e7e7;
	overflow: auto;
	margin: 15px 0px;
}
.tweet-show-popup-retweet-left{
	border-right:1px solid #e7e7e7;
	width: 28%;
	float: left;
	padding: 10px 0px;
}
.tweet-show-popup-retweet-left ul li{
	float: left;
}
.tweet-retweet-count-wrap{
	width: 50%;
	float: left;
}

.tweet-retweet-count-head{
	font-size: 10px;
	color: #757575;
}
.tweet-retweet-count-body{
	font-size: 17px;
	color: #2682e9;
}
.tweet-like-count-wrap{
	width: 50%;
	float: left;
}

.tweet-like-count-head{
	font-size: 10px;
	color: #757575;
}
.tweet-like-count-body{
	font-size: 17px;
	color: #2682e9;
}
.tweet-show-popup-retweet-right{
	width: 70%;
	float: right;
	padding: 10px 0px;
}
.tweet-retweet-count-head:hover, .tweet-like-count-head:hover{
	color: #2682e9;
	cursor: pointer;
}
.tweet-show-popup-retweet-right ul li{
	padding: 0px 6px;
	float: left;
}
.tweet-show-popup-retweet-right ul li img{
	width: 30px;
	height: 30px;
	border-radius:4px;
}

.tweet-show-popup-time{
	margin-bottom: 8px;
	color: #7b7b7b;
}

.tweet-show-popup-time span{

}

.tweet-show-popup-footer-menu{
	overflow: auto;
}
.tweet-show-popup-footer-menu ul li{
	float: left;
	margin-right : 30px;
/*	margin-bottom: 100px;*/
	margin-top: 1px;
	padding:0px 10px;

}
.tweet-show-popup-footer-menu ul li a{
	text-decoration: none;
	color: #929292;
	font-size: 15px;
}
.tweet-show-popup-footer-menu .fa-retweet:hover{
	color: #2682e9;
}
.tweet-show-popup-footer-menu .fa-heart-o:hover{
	color:red;
}

.tweet-show-popup-footer-menu ul li:hover{

}
.tweet-show-popup-footer-menu ul li ul{
	display: none;
	position: absolute;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #e7e7e7;
	color: #636363;

}
.tweet-show-popup-footer-menu ul li ul li{
	float: none;	
	margin: 0px;
}
.tweet-show-popup-footer-menu ul li ul li label{
	display: block;
	padding: 10px 15px;
}
.tweet-show-popup-footer-menu ul li ul li:hover{ 
	background: #158df3;
	color: #fff;
}
.tweet-show-popup-footer-menu ul li:nth-child(4):hover> ul{
	display: block;
}
.tweet-show-popup-footer-menu ul li:nth-child(3):hover> ul{
	display: block;
}
.tweet-show-popup-footer-menu ul li button{
	background: none;
	border: none;
 	cursor: pointer;
 	font-size: 16px;
}
.tweet-show-popup-footer-menu ul li i{
	font-size:18px;
}
.tweet-show-popup-footer-input-wrap{
	background-color: rgba(128, 255, 51, 0.18);
	overflow: auto;
	padding: 10px;
/*	border-bottom: 1px solid #d2d2d2;*/
	border-top: 1px solid #d2d2d2;
}

.tweet-show-popup-footer-input-inner{
	width: 93%;
	margin-bottom: 10px;
	overflow: hidden;
}

.tweet-show-popup-footer-input-left{
	width: 10%;
	float: left;
}
.tweet-show-popup-footer-input-left img{
	width: 35px;
	height: 35px;
	border-radius: 4px;
	margin-top: 4px;
	float: right;
	margin-right: 4px;
} 
.tweet-show-popup-footer-input-right{
	width: 90%;
	float: left;
}
.tweet-show-popup-footer-input-right input[type="text"]{
	padding: 6px 6px;
    border: 1px solid #91bdff;
    width: 85%;
    margin-top: 5px;
    margin-left: 7px;
}


.tweet-show-popup-comment-wrap{
	overflow: hidden;
}
.tweet-show-popup-comment-box{
/*border-bottom: 1px solid #e7e7e7;*/
overflow: hidden;
}
.tweet-show-popup-comment-inner{
	width: 95%;
	margin:10px auto;
	float: right;
}

.tweet-show-popup-comment-head{
	overflow: hidden;
}

.tweet-show-popup-comment-head-left{
	float: left;
	margin-right: 0;
}

.tweet-show-popup-comment-img{
	width: 50px;
	height: 50px;
}

.tweet-show-popup-comment-img img{
	width: 50px;
	height: 50px;
	border-radius: 4px;
}


.tweet-show-popup-comment-head-right{
	float: right;
	width: 88%;
	margin-right: 10px;
}


.tweet-show-popup-comment-right-tweet{

}
.tweet-show-popup-comment-right-tweet p{
	margin-left: 5px;
	color: #6c6c6c;
}
.tweet-show-popup-comment-right-tweet a{
	text-decoration: none;
	color: #138cbd;
	margin-right: 5px;
}
.tweet-show-popup-comment-name-box{
	overflow: hidden;
	margin-top: 4px;
}

.tweet-show-popup-comment-name-box-name{
	float: left;
	margin-right: 2px;
}
.tweet-show-popup-comment-name-box-name a:hover{
	text-decoration:underline;
}
.tweet-show-popup-comment-name-box-name a{
	font-size: 13px;
	font-weight: bold;
	color: #333;
	text-decoration:none;
    margin-left: 10px;
}

.tweet-show-popup-comment-name-box-tname{
	float: left;
}

.tweet-show-popup-comment-name-box-tname a{
	text-decoration:none;
	color: #8f8f8f;
}
