/*


đỏ đô:#880d1e
kem trắng: #E8E5DA
xanh đen: #011936
xanh da trời: #669bbc
xanh xám: #6c6f7d

*/
@import "../css/pallete.css";
html {
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    width: auto;
    height: auto;
    /* font-size: 18px; */
    font-family: "Noto Sans";
    background: linear-gradient(to right,var(--secondary-color),var(--surface-color));


  }
  
  #red-text {
      color: #669bbc;
      font-weight: bold;
      font-size: 120%;
  }
  
  #title-text-separator {
    width: 5%;
    margin-top: 1%;
    border: solid 1px #011936;
  }
  
  .responsive-menu-link {
    color: black;
  }
  
  
  /* ----- General Header CSS ------ */
  
  #header {
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    font-size: 19px;
    min-height: 100px;
  }
  
  
  
  
  
  /* Normal Header */
  
  .active-header {
    background-color: #E8E5DA;
    color: black;
  }
  
  .menu-link {
    color: #E8E5DA;
  }
  
  .active-menu-links {
    color: black;
  }
  
  #normal-header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    font-size: 19px;
    min-height: 100px;
  }
  
  #header-img {
    width: 250px;
    margin-left: 15%;
  }
  
  #nav-bar {
  }
  
  #nav-bar ul {
    list-style: none;
    display: flex;
    flex-flow: row;
  }
  
  #nav-bar li {
    padding: 10px;
    margin: 12px;
  }
  
  #nav-bar ul, a {
    text-decoration: none;
  }
  
  
  
  
  
  
  /* Responsive Header */
  
  #responsive-header {
    display: none;
  }
  
  #image-button-black {
    display: none;
    border: none;
  }
  
  #image-button-black:hover {
    cursor: pointer;
  }
  
  #image-button-black:focus {
    outline: 0;
  }
  
  
  /* ----- Hero Header CSS -----
  
  Tags included:
  
  1. hero-header - main container of the Hero
  
  2. hero-content - the container of the title and description within the hero Section
  
  3. hero-title - the title within the hero section
  
  4. hero-text - the text within the hero section
  
  5. hero-button - the button within the hero section
  
  */
  
  #hero-header {
    /* width: 100vw; */
    height: 100vh;
    box-shadow: 3px 3px 2px var(--secondary-color);
  
    /* hero-header flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* Texy style */
    text-align: center;
    color: var(--primary-color);
  
    /* Background image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/hero.jpg)  ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  #hero-title {
    font-size: 3.5em;
    color: var(--text);
  }
  
  #hero-text {
    font-size: 1.3em;
    margin-top: 2%;
    color: var(--text);
  }
  
  #hero-button {
    border: solid 2px var(--primary-color);
    background-color: inherit;
    color: var(--primary-color);
    margin-top: 6%;
    width: 25%;
    height: 55px;
    font-size: 15px;
    border-radius: 10px;
  }
  
  #hero-button:hover {
    cursor: pointer;
  }
  
  #hero-header-kid {
    /* width: 100vw; */
    height: 15vh;
    box-shadow: 3px 3px 2px var(--surface-color);
  
    /* hero-header flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* Texy style */
    text-align: center;
    color: var(--text);
  
    /* Background image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/hero.jpg) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  
  
  
  
  
  /* ----- Main Content CSS -----
  
  Tags included:
  
  1. features-container - the main container wrapping the "features" elements
  
  2. features-description - container wrapping the title and the description
  
  3. features-title - the main title of the Features
  
  4. features-separator - the line that separates the title from the Description
  
  5. features-text - the main describing the features and services
  
  6. service-features - container wrapping all 4 services
  
  7. feature - the common id applied to the container of all the 4 services
  
  8. feature img - the styling of each image belonging to each feature
  
  9. feature-title - the common id applied to the title of each feature
  
  10. feature p - the styling of each paragraph belonging to each feature
  
  11. feature-button - the common id applied to the button of each feature
  
  12. feature-button:hover - the ":hover" styling of each button
  
  */
  
  #features-container {
    box-shadow: 2px 2px 15px var(--secondary-color);
    margin-top: 5%;
    padding: 2%;
    background-color: var(--surface-color);
  }
  
  #service-features {
    display: flex;
    flex-direction: row;
    /* Change flow-direction to "column" in the responsive design for the features to stack
    one on top of another. */
    justify-content: space-around;
    margin-top: 2%;
    padding-bottom: 3%;
  }
  
  #features-description {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    padding: 1%;
    display: flex;
    width: 60%;
    color: var(--text);
  }
  
  #features-description h1 {
    font-size: 45px;
    color: var(--text);
  }
  
  
  #features-description p {
    padding: 1%;
    margin-top: 1%;
    color: var(--text);
  }
  
  #feature {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--surface-color);
    box-shadow: 1px 2px 15px var(--secondary-color);
  }
  
  #feature i {
    max-width: 30%;
    max-height: 30%;
    padding-top: 5%;
  }
  #feature img {
    max-width: 30%;
    max-height: 30%;
    padding-top: 5%;
  }
  
  
  #feature-title {
    margin-top: 5%;
    color: var(--text);
  }
  
  #feature p {
    width: 70%;
    margin-top: 5%;
    color: var(--text);
  }
  
  #feature-button {
    border: none;
    margin-top: 30%;
    width: 12vh;
    height: 5vh;
    border-radius: 15px;
    background-color: var(--primary-color);
    color: var(--text);
    font-size: 16px;
    margin-bottom: 20%;

  }
  
  #feature-button:hover {
    background-color: var(--inverseprimary-color);
    cursor: pointer;
  }
  
  
  

  
  