@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import "css/pallete.css";
@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}


body{
    background: var(--tertiary-color);
	width: auto;
    height: auto;
    margin: 30px;
    padding-top: 30px;
    /* font-size: 18px; */
    font-family: "Noto Sans";
}

.card {
    background-color: var(--surface-color);
}

.card-title {
    color: var(--inverseprimary-color);
    font-weight: bold;
    font-size: 23px;
}
.card-text {
    color: var(--text);
    font-size: 15px;
}
.card-body h3{
    color: var(--text);
    font-size: 12px;
}
.people-message {
    color: var(--primary-color);
    font-size: 15px;
    font-weight: bold;
    text-align:right;
    margin-right: 20px;
}
.people-message:hover {
    color: var(--inverseprimary-color);
    font-size: 17px;
    font-weight: bold;
    text-align:right;
    margin-right: 20px;
}
.text-body-secondary {
    color: var(--primary-color) !important;
}

.new-chat {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-chat h2 {
    color: var(--primary-color);

    margin-top: 10px;
}
.new-chat-btn {
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%; /* Ensures a perfect circle */
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    width: 60px; /* Adjust the width and height for desired size */
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.new-chat-btn:hover {
    background-color: var(--inverseprimary-color);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}