@import "../css/pallete.css";
@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}
a{
    cursor: pointer;
}
.settings_container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    

}
 .settings_images_id{
    display: flex;
    flex-direction: row;
    width: 50vw;


} 
.settings_images_id img{
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #007BFF;

}
#box-user-Id{
    color: var(--secondary-color);
    background-color: transparent;
    border: transparent;
}
.form-floating{
    margin: 40px;
}
#floatingInputDisabled {
    color: var(--primary-color);
    background-color: var(--surface-color);
    border: var(--primary-color);
}
#floatingTextareaDisabled {
    color: var(--primary-color);
    background-color: var(--surface-color);
    border: var(--primary-color);
}
#floatingTextarea2Disabled{
    color: var(--primary-color);
    background-color: var(--surface-color);
    border: var(--primary-color);
    
}
#floatingTextarea2Disabled label {
    color: var(--primary-color);
    background-color: var(--surface-color);
}
#floatingSelectDisabled{
    color: var(--primary-color);
    background-color: var(--surface-color);
    border: var(--primary-color);
}
.setting_btn{
    margin: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.btn-outline-primary{
    color: var(--inverseprimary-color);
    border-color: var(--inverseprimary-color);
}
.btn-outline-primary:hover{
    color: var(--surface-color);
    background-color: red;
    border-color: red;
}

.btn-secondary{
    color: var(--inverseprimary-color);
    background-color: var(--surface-color);
    border: solid 2px var(--inverseprimary-color);
}
.btn-secondary:hover{
    color: var(--surface-color);
    background-color: var(--inverseprimary-color);
    border: var(--inverseprimary-color);
}

.space{
    height:5px; 
    width:100%; 
    background:var(--surface-color);
}