@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import "css/pallete.css";
@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}


body{
    background: var(--tertiary-color);
	width: auto;
    height: auto;
    padding: 30px;
    padding-top: 30px;
    /* font-size: 18px; */
    font-family: "Noto Sans";
    overflow: auto;
}
h1{
    color: var(--inverseprimary-color);
    font-family: "Playwrite VN", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

.input-group>.form-control{
    background-color: var(--tertiary-color);
}
.align-items-start{
    padding-bottom: 30px;
}
#addon-wrapping{
color: var(--text);
background-color: var(--secondary-color);
}
.form-control:disabled{
    color: var(--text);
    background-color: var(--surface-color);
}
.form-control::placeholder{
    color: var(--text);
}
h3{
  padding-top:50px;
}



.my-table {
    color: var(--text);
    background-color: var(--surface-color);
    position: relative;
    z-index: 999;

}


.my-table th {
    background-color: var(--secondary-color);
}
.table{
    --bs-table-bg: var(--surface-color);
    --bs-table-hover-color: var(--text);
}
.table {
    --bs-table-color: var(--primary-color);
    --bs-table-bg: var(--surface-color);
    --bs-table-border-color: var(--primary-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--primary-color);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--primary-color);
    --bs-table-hover-bg: rgba(var(--primary-color), 0.075);
}
.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--text)));
}